body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* fond blanc */
    color: #333;
    margin: 0;
    padding: 0;
}

/* HEADER (barre violette en haut) */
header {
    background-color: #6A0DAD; /* violet */
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGO */
.logo {
    height: 60px;
}

/* MENU */
.menu {
    display: flex;
    margin-left: 20px;
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fff; /* texte menu blanc */
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
}

.menu a:hover {
    color: #ffdd00;
    transform: scale(1.1);
}

.menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ffdd00;
    transition: width 0.3s;
    margin-top: 5px;
}

.menu a:hover::after {
    width: 100%;
}

/* SECTIONS BLANCHES */
section {
    background-color: #ffffff;
    text-align: center;
    padding: 60px 20px;
}

/* FOOTER VIOLET EN BAS */
footer {
    background-color: #6A0DAD;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
