body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #eee;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4b00ff;
    padding: 20px;
    text-align: center;
}

.logo {
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;
}

section {
    text-align: center;
    padding: 50px 20px;
}

#projets {
    background-color: #2a2a3f;
}

footer {
    background-color: #4b00ff;
    color: #fff;
    text-align: center;
    padding: 20px;
}
